.Bg {
    background-color: #222A34;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top:100px ;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black ;
  }

.header_text {
    color: white;
    text-align: right;
    font-size: 28px;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    font-family: Aduma;
}


.header_bt {
    float: left;
    background-color: #475366;
    margin-top: 25px;
    border-radius: 10px;
    height: 20px;
    width: 110px;
    padding-left: 29px;
    padding-bottom: 5px;
    margin-left: 10px;
    background-image: url('./assets/Upload.png');
    background-repeat: no-repeat;
    background-position: 10px;
    color: white;
    text-align: inherit;
    font-family: Aduma;
}
